** Addition , Subtraction, multiplication and division **

In [2]:
def add(x, y):
    return x + y

def subtract(x, y):
    return x - y

def multiply(x, y):
    return x * y

def divide(x, y):
    return x / y

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

print("Select operation: 1.Add 2.Subtract 3.Multiply 4.Divide")
choice = input("Enter choice (1/2/3/4): ")

if choice == '1':
    print("Result:", add(num1, num2))
elif choice == '2':
    print("Result:", subtract(num1, num2))
elif choice == '3':
    print("Result:", multiply(num1, num2))
elif choice == '4':
    print("Result:", divide(num1, num2))
else:
    print("Invalid input")

Enter first number: 5
Enter second number: 9
Select operation: 1.Add 2.Subtract 3.Multiply 4.Divide
Enter choice (1/2/3/4): 2
Result: -4.0

** checking even or odd number **

In [4]:
number = int(input("Enter a number: "))
if number % 2 == 0:
    print(f"{number} is Even")
else:
    print(f"{number} is Odd")

Enter a number: 12
12 is Even

** Finding the largest number ***

In [5]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
num3 = float(input("Enter third number: "))

if (num1 > num2) and (num1 > num3):
    largest = num1
elif (num2 > num1) and (num2 > num3):
    largest = num2
else:
    largest = num3

print(f"The largest number is {largest}")

Enter first number: 12
Enter second number: 0
Enter third number: 3
The largest number is 12.0

check if a number is positive, negative, or zero.

In [6]:
number = float(input("Enter a number: "))
if number > 0:
    print("The number is positive.")
elif number < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

Enter a number: -8
The number is negative.

calculate the factorial of a number

In [8]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

num = int(input("Enter a number: "))
print(f"The factorial of {num} is {factorial(num)}")

Enter a number: 2
The factorial of 2 is 2

loops

In [10]:
lower = int(input("Enter lower range: "))
upper = int(input("Enter upper range: "))

for num in range(lower, upper + 1):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
            print(num)

Enter lower range: 15
Enter upper range: 98
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

printing different type of patterns

In [11]:
## Right-Angled Triangle Pattern ##
n = 5
for i in range(1, n + 1):
    print('*' * i)

*
**
***
****
*****

In [12]:
## Inverted Triangle Pattern ##
n = 5
for i in range(n, 0, -1):
    print('*' * i)

*****
****
***
**
*

In [13]:
##Pyramid Pattern##
n = 5
for i in range(n):
    print(' ' * (n - i - 1) + '*' * (2 * i + 1))

    *
   ***
  *****
 *******
*********

In [14]:
## Diamond Pattern ##
n = 5
# Upper path
for i in range(n):
    print(' ' * (n - i - 1) + '*' * (2 * i + 1))
# Lower part
for i in range(n - 2, -1, -1):
    print(' ' * (n - i - 1) + '*' * (2 * i + 1))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [ ]:
x=int(input())
for i in range(x):
  print("1"*x)

5
11111
11111
11111
11111
11111

In [ ]:
'''12345
12345
12345
12345
12345'''
print("12345\n"*5)

12345
12345
12345
12345
12345

In [ ]:
x=int(input())
for i in range(1,x+1):
  print((i*i)-1,end=" ")

5
0 3 8 15 24

In [ ]:
x=int(input())
p=x
print(x,end=" ")
for i in range(x-1):
  if i%2==0:
    p-=2
    print(p,end=" ")
  else:
      p+=3
      print(p,end=" ")

7
7 5 8 6 9 7 10

In [ ]:
x=int(input())
for i in range(1,x+1):
  s,p=x-1,i
  print(p,end=" ")
  for j in range(1,i):
    p=p+s
    s-=1
    print(p,end=" ")
  print()

5
1
2 6
3 7 10
4 8 11 13
5 9 12 14 15

In [ ]:
x=int(input())
1=[]
p=0
for i int

In [ ]:
x=int(input())
print(0,1,end=" ")
a,b=0,1
for i in range(2,x):
  c=a+b
  a=b
  b=c
  print(c,end=" ")

6
0 1 1 2 3 5

In [ ]:
x=int(input())
for i in range(1,x+1):
  print(f"{i}"*x)

5
11111
22222
33333
44444
55555

In [ ]:
x=int(input())
for i  in range(x):
  for j in range(x):
    if (i==0 or i==(x-1)):
      print("5",end="")
    elif (j==0 or j==(x-1)):
      print("5",end="")
    else:
      print(" ",end="")
  print()

5
55555
5   5
5   5
5   5
55555

In [ ]:
x=int(input())
for i in range(1,x+1):
  temp=i
  while(temp>0):
    print(temp,end=" ")
    temp-=1
  print()

5
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [ ]:
x=int(input())
for i in range(x):
  char=65
  for j in range(i,x):
    print(chr(char+j),end="")
  print()

5
ABCDE
BCDE
CDE
DE
E

In [ ]:
# prompt: print star as a levels

x=int(input())
for i in range(x):
  for j in range(x-i):
    print("*",end="")
  print()

5
*****
****
***
**
*

In [ ]:
n=int(input())
k=0
l= [[k:=k+1 for j in range(n)] for i in range(n)]
for i in range(n):
  if i%2==0:
    print(l[i])
  else:
    print(l[i][::-1])

5
[1, 2, 3, 4, 5]
[10, 9, 8, 7, 6]
[11, 12, 13, 14, 15]
[20, 19, 18, 17, 16]
[21, 22, 23, 24, 25]

In [ ]:
x=int(input())
for i in range(0,x):
  for j in range(0,x):
    if i==j:
      print(i+1,end=' ')
    elif j+i==x-1:
      print(j+1,end=' ')
    else :
      print( ' ',end=' ')
  print()

5
1       5
  2   4
    3
  2   4
1       5

Create variables of different data types: integer, float, string, and boolean. Print their values and types

In [15]:
integer_var = 10
float_var = 10.5
string_var = "Hello"
boolean_var = True

print(f"Integer value: {integer_var}, type: {type(integer_var)}")
print(f"Float value: {float_var}, type: {type(float_var)}")
print(f"String value: {string_var}, type: {type(string_var)}")
print(f"Boolean value: {boolean_var}, type: {type(boolean_var)}")

Integer value: 10, type: <class 'int'>
Float value: 10.5, type: <class 'float'>
String value: Hello, type: <class 'str'>
Boolean value: True, type: <class 'bool'>

In [16]:
## swap the values of two variables ##
a = 5
b = 10
print(f"Before swap: a = {a}, b = {b}")

# Swapping
a, b = b, a
print(f"After swap: a = {a}, b = {b}")

Before swap: a = 5, b = 10
After swap: a = 10, b = 5

In [17]:
## concatenate two strings ##
string1 = "Hello"
string2 = "World"
concatenated_string = string1 + " " + string2
print(concatenated_string)

Hello World

In [19]:
string1 = "ravi"
string2 = "kiran"
result = " ".join([string1, string2])
print(result)

ravi kiran

In [21]:
## palindrome ##
string = input("Enter a string: ")
if string == string[::-1]:
    print(f"{string} is a palindrome.")
else:
    print(f"{string} is not a palindrome.")

Enter a string: refer
refer is a palindrome.

In [22]:
string = input("Enter a string: ")
if string == string[::-1]:
    print(f"{string} is a palindrome.")
else:
    print(f"{string} is not a palindrome.")

Enter a string: tap
tap is not a palindrome.

In [23]:
## sorting numbers ##
numbers = [4, 2, 9, 1, 5]
sorted_numbers = sorted(numbers)
print("Sorted list in ascending order:", sorted_numbers)

Sorted list in ascending order: [1, 2, 4, 5, 9]

lists

In [24]:
## Creating and Accessing Lists ##
lst = list(range(1, 21))
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [27]:
## Accessing List Elements ##
print(f"First element: {lst[0]}")
print(f"Middle element: {lst[len(lst) // 2]}")
print(f"Last element: {lst[-1]}")

First element: 1
Middle element: 11
Last element: 20

In [29]:
## list slicing ""
## Print the first five elements, the last five elements, and the elements from index 5 to 15 ##
print(f"First five elements: {lst[:5]}")
print(f"Last five elements: {lst[-5:]}")
print(f"Elements from index 5 to 15: {lst[5:16]}")

First five elements: [1, 2, 3, 4, 5]
Last five elements: [16, 17, 18, 19, 20]
Elements from index 5 to 15: [6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [30]:
## squares of the first 10 positive integers ##
squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [33]:
## The first 5 positive integers to a tuple ##
lst = [1, 2, 3, 4, 5]
tpl = tuple(lst)
print(tpl)

(1, 2, 3, 4, 5)
1 2 3 4 5

In [34]:
## 5 elements and unpack it into 5 variables ##
tpl = (1, 2, 3, 4, 5)
a, b, c, d, e = tpl
print(a, b, c, d, e)

1 2 3 4 5

In [36]:
## Createing a dictionary with tuple keys and integer values
tpl_of_tpls = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
print(tpl_of_tpls)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [37]:
##  functions that take a tuple and return the minimum, maximum, and sum of the elements
def min_in_tuple(tpl):
    return min(tpl)

def max_in_tuple(tpl):
    return max(tpl)

def sum_of_tuple(tpl):
    return sum(tpl)

sample_tpl = (1, 2, 3, 4, 5)
print(f"Minimum: {min_in_tuple(sample_tpl)}")
print(f"Maximum: {max_in_tuple(sample_tpl)}")
print(f"Sum: {sum_of_tuple(sample_tpl)}")

Minimum: 1
Maximum: 5
Sum: 15

Data staructures

In [38]:
## Create a set with the first 10 positive integers
s = set(range(1, 11))
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [40]:
## adding and removing
r={1,2,3,4,5}
r.add(6)
r.remove(1)
print(r)

{2, 3, 4, 5, 6}

##Create two sets: one with the first 5 positive integers and another with the
first 5 even integers. Perform and print the results of union, intersection,
difference, and symmetric difference operations on these set##

In [42]:
set1 = set(range(1, 6))
set2 = set(range(2, 11, 2))
print(f"Union: {set1 | set2}")
print(f"Intersection: {set1 & set2}")
print(f"Difference (set1 - set2): {set1 - set2}")
print(f"Symmetric Difference: {set1 ^ set2}")

Union: {1, 2, 3, 4, 5, 6, 8, 10}
Intersection: {2, 4}
Difference (set1 - set2): {1, 3, 5}
Symmetric Difference: {1, 3, 5, 6, 8, 10}

In [ ]:
x=int(input("centigrade : "))
print("Farenhiet : ",int(x*1.8)+32)

centigrade : 4
Farenhiet :  39

In [ ]:
x = int(input())
print(3.14*x*x)

6
113.03999999999999

In [ ]:
n = int(input())
s = 1
for i in range(2,n//2+1):
  if n %i==0:
    s+=i
if s==n:
    print("yes")
else:
    print("no")

15
no

In [ ]:
x=input().split(" ")
x.sort()
print(x[-2])

12 34 10
12

In [ ]:
n=int(input())
l=[i for i in range(1,n//2+1) if  n%i==0]
print(sum(l)==n)

6
True

In [ ]:
a,b,c = map(int,input().split())
print((sum((a,b,c)))-min(a,b,c)-max(a,b,c))

14 45 94
45

In [ ]:
x = [int(x) for x in input("Enter the numbers : ").split()]
x.sort()
print(f"Second greatest number is : {x[-2]}")

Enter the numbers : 14 8 54
Second greatest number is : 14

In [ ]:
'''give number neon number or not '''
def neon(n):
  if sum (list (map(int,str(n*n))))==n:
    return "Neon"
  else:
    return "Not a Neon"
print(neon(int(input())))

58
Not a Neon

In [ ]:
def is_au(n):
  if str(n*n)[-len(str(n)):]==str(n):
    return "au"
  return "Not au"
print(is_au(int(input())))

5
au

In [ ]:
def isPronic(n):
  flag=False
  for i in range(1,n+1):
    if i*(i+1)==n:
      f="Pronic"
      break
  return f
print(isPronic(int (input())))

6
Pronic